<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kye.my_board.repository.CommentMapper">

    <insert id="save" parameterType="kye.my_board.domain.Comment">
        INSERT INTO COMMENTS(post_id, author_id, author_nickname, content, created_at)
        VALUES (#{postId}, #{authorId}, #{authorNickname}, #{content}, #{createdAt})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultType="kye.my_board.domain.Comment">
        SELECT *
        FROM COMMENTS
        WHERE ID = #{id}
    </select>

    <select id="findByPostId" parameterType="java.lang.Long" resultType="kye.my_board.domain.Comment">
        SELECT *
        FROM COMMENTS
        WHERE POST_ID = #{postId}
        ORDER BY CREATED_AT ASC
    </select>

    <update id="update" parameterType="kye.my_board.domain.Comment">
        UPDATE COMMENTS
        SET CONTENT = #{content}
        WHERE ID = #{id}
    </update>

    <delete id="deleteByCommentId" parameterType="java.lang.Long">
        DELETE FROM COMMENTS
        WHERE ID = #{id}
    </delete>

    <delete id="deleteByPostId" parameterType="java.lang.Long">
        DELETE FROM COMMENTS
        WHERE POST_ID = #{postId}
    </delete>
</mapper>