<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kye.my_board.repository.PostMapper">

    <select id="findAll" resultType="kye.my_board.domain.Post">
        SELECT *
        FROM POSTS
        ORDER BY CREATED_AT DESC
    </select>

    <select id="findById" parameterType="java.lang.Long" resultType="kye.my_board.domain.Post">
        SELECT *
        FROM POSTS
        WHERE ID = #{id}
    </select>

    <insert id="save" parameterType="kye.my_board.domain.Post">
        INSERT INTO POSTS(AUTHOR_ID, author_nickname, title, content, created_at)
        VALUES (#{authorId}, #{authorNickname}, #{title}, #{content}, #{createdAt})
        <selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER">
            SELECT ISEQ$$_78181.CURRVAL FROM DUAL
        </selectKey>
    </insert>

    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM POSTS
        WHERE ID = #{id}
    </delete>

    <select id="findByAuthorId" parameterType="java.lang.Long" resultType="kye.my_board.domain.Post">
        SELECT *
        FROM POSTS
        WHERE AUTHOR_ID = #{authorId}
    </select>

    <update id="update" parameterType="kye.my_board.domain.Post">
        UPDATE POSTS
        SET TITLE = #{title}, CONTENT = #{content}
        WHERE ID = #{id}
    </update>

    <update id="updateViews" parameterType="kye.my_board.domain.Post">
        UPDATE POSTS
        SET VIEWS = #{views}
        WHERE ID = #{id}
    </update>

    <update id="updateComments" parameterType="kye.my_board.domain.Post">
        UPDATE POSTS
        SET COMMENTS = #{comments}
        WHERE ID = #{id}
    </update>

    <select id="searchPostsByType" resultType="kye.my_board.domain.Post">
        SELECT *
        FROM POSTS
        <where>
            <choose>
                <when test="type == 'title'">
                    TITLE LIKE '%' || #{keyword} || '%'
                </when>
                <when test="type == 'titleContent'">
                    TITLE LIKE '%' || #{keyword} || '%' OR CONTENT LIKE '%' || #{keyword} || '%'
                </when>
                <when test="type == 'author">
                    AUTHOR_NICKNAME LIKE '%' || #{keyword} || '%'
                </when>
            </choose>
        </where>
    </select>

</mapper>